[submodule "cli"]
	path = cli
	url = https://github.com/Nobel3D/xsKeyManager-cli
[submodule "gui"]
	path = gui
	url = https://github.com/Nobel3D/xsKeyManager
[submodule "lib"]
	path = lib
	url = https://github.com/Nobel3D/xslibpasswd
[submodule "xslib"]
	path = xslib
	url = https://github.com/Nobel3D/xslib.git
[submodule "xsResource"]
	path = xsResource
	url = https://github.com/nobel3d/xsResource.git
